body {
  background: black;
  text-align: center;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

main {
  margin: 0 auto;
  /* background-color: #333333; */
  color: #FF0000;
  font-family: "Metal Mania", "Gadget", "sans-serif";
  max-width: 90%;
  border-radius: 10px;
}

h1 {
  animation: fadeIn 2s;
  font-size: 64px;
  /* font-family: "Impact"; */
}

h2 {
  animation: fadeIn 2s;
  padding: 0 40px 0 40px;
  font-size: 24px;
  /* font-family: "Helvetica"; */
}

img {
  animation: fadeIn 2s;
  max-width: 100%;
  border-radius: 10px;
}

.cover {
  /* background-color: #aaaaaa; */
  padding: 0.5em;
  margin: 0.5em;
}

section.stories {
  opacity: 0;
  animation: fadeIn 2s forwards 1s;
}

h3 {
  color: white;
  font-size: 24px;
}

ul {
  margin: 0 auto;
  padding: 0;
  color: white;
  width: 80%;
}

li {
  border-radius: 10px;
  background-color: #333333;
  margin: 10px 0 10px 0;
  padding: 10px;
  list-style-type: none;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: underline;
  color: rgb(255,10,10);
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.bg {
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  position: fixed;
  left: 5px;
  top: 5px;
  z-index: -1;
}

.bg p {
  color: white;
  margin: 0;
  font-size: 18px;
}

.bg-cursor {
  border-right: solid 1px white;
}

@media only screen and (min-width: 900px) {
  main {
    max-width: 40%;
  }
}