body {
  background: black;
  text-align: center;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

main {
  margin: 0 auto;
  margin-bottom: 20px;
  color: #FF0000;
  font-family: "Metal Mania", "Gadget", "sans-serif";
  max-width: 90%;
  border-radius: 10px;
}

h1 {
  animation: fadeIn 2s;
  font-size: 64px;
}

h2 {
  animation: fadeIn 2s;
  padding: 0 40px 0 40px;
  font-size: 24px;
}

img {
  animation: fadeIn 2s;
  max-width: 100%;
  border-radius: 10px;
}

.cover {
  padding: 0.5em;
  margin: 0.5em;
}

section.stories {
  opacity: 0;
  animation: fadeIn 2s forwards 1s;
}

h3 {
  color: white;
  font-size: 24px;
}

a {
  text-decoration: underline;
  color: rgb(255,10,10);
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}

ul {
  margin: 0 auto;
  padding: 0;
  color: white;
  width: 80%;
}

li {
  border-radius: 10px;
  background-color: #333333;
  margin: 20px 0 20px 0;
  padding: 10px;
  list-style-type: none;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.poems {
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn 2s forwards 1s;
}

button {
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: #5f0000;
  color: white;
  font-family: "Metal Mania", "Gadget", "sans-serif";
  font-size: 18px;
}

button:hover,
button:active {
  cursor: pointer;
  background-color: #8c0000;
}

.bg {
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  position: fixed;
  left: 5px;
  top: 5px;
  z-index: -1;
}

.bg p {
  color: white;
  margin: 0;
  font-size: 18px;
}

.bg-cursor {
  border-right: solid 1px white;
}

@media only screen and (min-width: 900px) {
  main {
    max-width: 40%;
  }
}